@import '../node_modules/leaflet/dist/leaflet.css';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body,
html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;;
    overflow: hidden;
    background: #343331;
}

#map-container {
    flex: 1 1 auto;
    margin: 2px;
    // opacity: 0.1 !important;
    //display: none;
}

#line-details {
    display: none;
    position: absolute;
    width: 100vw;
    bottom: 0;
    height: 220px;
    margin: 2px;
    padding: 20px;
    background: -webkit-linear-gradient(180deg, rgb(79, 79, 79), rgb(36, 36, 36));
    background: linear-gradient(180deg, rgb(79, 79, 79), rgb(36, 36, 36));
    z-index: 1000;

        h1, h2 {
          font-family: 'Roboto Slab', serif;
          color: #fff;
          position: absolute;
          left: 45%;
        }

        h1 {
          bottom: 15px;
          font-weight: 400;

          em {
            font-style: normal;
            font-weight: 700;
          }
        }

        h2 {
          bottom: -15px;
          font-weight: 400;
        }

    &.open {
        display: block;
    }

    svg {
        width: 100%;
        height: 100%;
    }

    .path {
      -webkit-filter: drop-shadow( -5px -5px 5px #000 );
        filter: drop-shadow( -5px -5px 5px #000 );
    }

    .axis {
        fill: none;

        .domain {
            stroke: #fff;
            opacity: 0.2;
        }

        .tick {
            line {
                stroke: #7f8c8d;
                stroke-dasharray: 4 6;
            }

            &:first-of-type {
                display: none;
            }
        }

        text {
            fill: #ecf0f1;
        }
    }
}

img.leaflet-tile {
    pointer-events: none;
}

.line {
    cursor: pointer;
}
