/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url("https://fonts.googleapis.com/css?family=Bree+Serif|Lora|Roboto+Condensed|Roboto+Slab");
/*
font-family: 'Roboto Slab', serif;
font-family: 'Lora', serif;
font-family: 'Bree Serif', serif;
*/
section.has-dark-background,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: #222; }

::selection {
  color: #fff;
  background: #ffc7a6;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: "Roboto Slab", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: normal;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.8em; }

.reveal h2 {
  font-size: 1.4em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #ff7726;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #ffa773;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #d95100; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #ff7726;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #ff7726; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #ff7726; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #ff7726; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #ff7726; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #ffa773; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #ffa773; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #ffa773; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #ffa773; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #ff7726;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal .squares i {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  background-color: #ff7726; }

.reveal .squares i:nth-child(1) {
  left: 0;
  top: 0; }

.reveal .squares i:nth-child(2) {
  right: 0;
  top: 80px; }

.reveal .squares i:nth-child(3) {
  right: 80px;
  top: 0px; }

.reveal .squares:before {
  content: 'aaa'; }

.reveal .counter {
  display: none;
  z-index: 1000;
  position: absolute;
  left: 60px;
  right: auto;
  bottom: 60px;
  font-size: 30px;
  color: #ff7726;
  opacity: 1;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center; }
  .reveal .counter:before {
    z-index: 1200;
    background-color: #fff;
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 5px solid #ff7726;
    transition: transform .6s ease-in-out; }
  .reveal .counter span {
    z-index: 1500;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 90px; }

.reveal .present .counter:before {
  transform: rotate(-45deg); }

.reveal section {
  text-align: left;
  height: 100%; }
  .reveal section img {
    border: none;
    background: none;
    box-shadow: none; }

.reveal section.dark h1,
.reveal section.dark h2,
.reveal section.dark p {
  color: #fff; }

.reveal section.dark h1:after,
.reveal section.dark h1:before {
  background-color: #FFF; }

.reveal h1 {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.reveal h1:before {
  flex-grow: 0.05;
  margin-right: 10px; }

.reveal h1:after {
  flex-grow: 0.95;
  margin-left: 10px; }

.reveal h1:after,
.reveal h1:before {
  background-color: #000;
  content: '\a0';
  height: 4px;
  position: relative;
  top: 0.65em; }

.reveal h1.center:before {
  flex-grow: 0.5; }

.reveal h1.center:after {
  flex-grow: 0.5;
  margin-left: 10px; }

.reveal h2, .reveal p {
  padding-left: 100px;
  width: 75%; }

.reveal h2 small {
  vertical-align: middle; }

.reveal h1 i,
.reveal h2 i {
  background: #ff7726;
  color: #fff;
  border-radius: 50%;
  content: ' ';
  width: 1em;
  height: 1em;
  text-align: center;
  margin-right: 0.2em;
  position: relative;
  top: 0.05em;
  font-size: 1.2em; }

.reveal h1 i:before,
.reveal h2 i:before {
  position: relative;
  font-size: 0.55em;
  top: -.25em; }

.reveal em {
  font-style: normal;
  position: relative;
  display: inline-block;
  outline: none;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  color: #fff;
  padding: 0 0.2em;
  margin: 0 0.2em; }
  .reveal em:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #ff7726;
    content: '';
    transition: transform 0.2s;
    transform: translateY(95%); }

.reveal em.dark:before {
  background-color: #2c3e50; }

.reveal h2 em:before {
  background-color: #3498db; }

.reveal p em:before {
  background-color: #34495e; }

.reveal p.dark {
  display: inline;
  padding: 0; }
  .reveal p.dark span {
    background: #2c3e50;
    -webkit-box-decoration-break: clone;
    padding: 0.1em 0.1em; }
    .reveal p.dark span i {
      background-color: #e74c3c;
      padding: 0.1em 0.3em; }

.reveal .acenter {
  width: 100%;
  text-align: center; }
  .reveal .acenter img {
    width: 80%; }

.reveal section.present:not(.abstract) em:before {
  animation: emSlideUp 0.2s 0.1s normal forwards ease-in-out; }

.reveal .locator {
  display: none;
  z-index: 1000;
  list-style-type: none;
  font-size: 0.5em;
  position: absolute;
  left: 0;
  margin: 0;
  bottom: 1em;
  padding-left: 0; }
  .reveal .locator li span {
    display: inline-block;
    color: #fff;
    background: #ff7726;
    padding: 0.2em 0.5em;
    opacity: 0.5; }
    .reveal .locator li span i {
      font-style: normal; }
  .reveal .locator li.current span {
    background: #9b59b6;
    opacity: 1; }

.reveal #slideTitle1 h1,
.reveal #slideTitle2 h1,
.reveal #slideTitle3 h1 {
  margin-top: 3.5em; }

.reveal #slideIntro p {
  margin-top: 3em; }

.reveal #slideIntro,
.reveal #eofThanks {
  height: 100%; }
  .reveal #slideIntro .logo,
  .reveal #eofThanks .logo {
    background: #fff;
    width: 200px; }

.reveal #slideIntro .logo {
  position: absolute;
  right: 0px;
  bottom: 1em; }

.reveal #eofThanks .logo {
  margin-top: 4em;
  width: 400px; }

.reveal #slideAbout svg {
  vertical-align: middle; }

.reveal #slideAgenda h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.reveal #slideD3-01 {
  text-align: center; }

.reveal #slideD3-02,
.reveal #slideD3-03,
.reveal #slideD3-04,
.reveal #slideD3-05 {
  text-align: center; }
  .reveal #slideD3-02 h2,
  .reveal #slideD3-03 h2,
  .reveal #slideD3-04 h2,
  .reveal #slideD3-05 h2 {
    width: auto; }

.reveal #slideD3-06 img {
  margin: 0; }

.reveal #slideDataVisualization h2 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: auto; }

.reveal #slideDataVisualization h2:nth-of-type(2) em:before {
  background-color: #2ecc71; }

.reveal #d3Likejquery h1 {
  margin-bottom: 0.5em; }

.reveal #d3NotLikejquery h2 em {
  margin-left: 0; }

.reveal #d3NotLikejquery p.dark {
  font-size: 1.2em;
  line-height: 2em;
  padding-left: 100px; }
  .reveal #d3NotLikejquery p.dark span {
    padding: 0.8em 0.5em; }

.reveal #d3DataJoinEnterExit,
.reveal #d3DataJoinRemoveUpdate,
.reveal #d3DataJoinRemoveById {
  text-align: center; }
  .reveal #d3DataJoinEnterExit video,
  .reveal #d3DataJoinRemoveUpdate video,
  .reveal #d3DataJoinRemoveById video {
    max-height: 100%;
    max-width: 100%;
    border: 1px solid #ccc; }

.reveal #slideHexbinsExplanation img,
.reveal #slideHexbinsSquares img {
  margin: 0; }

.reveal #slideLeafletIntro iframe {
  width: 100%;
  height: 400px; }

.reveal #dataSource h2 {
  width: 100%; }

.reveal #dataSource img {
  vertical-align: middle;
  display: inline-block;
  width: 200px;
  margin-right: 1em; }

.reveal #dataGTFS small {
  vertical-align: middle;
  margin-left: 1em;
  opacity: 0.8; }

.reveal #dataGTFS li.other {
  font-size: 0.7em; }

.reveal #dataGTFSTips h2 {
  width: 100%; }

.reveal #gtfsWroclaw ul {
  font-size: 0.8em;
  list-style-type: none; }
  .reveal #gtfsWroclaw ul li {
    color: #34495e;
    background-color: rgba(243, 156, 18, 0.3);
    border: 1px solid #e74c3c;
    padding: 0 0.4em;
    border-radius: 0.2em;
    margin-bottom: 0.4em; }

.reveal #dataWebScrappingVideo video {
  width: 90%;
  border: 1px solid #515151; }

@keyframes emSlideUp {
  0% {
    transform: translateY(95%); }
  100% {
    transform: translateY(0%); } }
