.mapContainer {
  //flex: 1 1 auto;
  z-index: 10;
}

.hexbinBin {
  cursor: pointer;
}

.hexbinDot {
  // fill: #2ecc71;
  cursor: pointer;
  //filter: url(#blur-filter);
  &:hover {
    animation: blink 0.5s linear infinite;
  }
}

.hexbinFrame {
  fill: none;
  //stroke-width: 1px;
  //stroke-dasharray: 10, 15;
  stroke: #3498db;
  animation: dash 2s linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.hexbinFrame--selected {
  stroke: #f1c40f;
}

.hexbinFrame--blur {
  @extend .hexbinFrame;
  stroke: #3498db;
  filter: url(#blur-filter);
  &.hexbinFrame--selected {
    stroke: #f1c40f;
  }
}

.tooltip {
  fill: red;
}

@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
